<footer class="footer">
    <div class="footer__container">
        <p class="footer__text">©  2020 | All Rights Reserved |<br>
             Developed with</p>
        <svg class="footer__icon">
            <use href="./img/sprite.svg#groupIcon"></use>
        </svg>
        <p class="footer__text footer__text--secondary">by</p>

        <!-- Футер от Кати Ю. -->
         <a class="link">
            <span class="footer__link" data-target="exampleModalCenter">GoIT Students</span>
        </a> 

    </div>
</footer>

<!-- Футер от Кати Ю. -->
<div class="modal fade" id="exampleModalCenter">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Миссия выполнима - 8 агентов Репеты</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <img src="https://picsum.photos/id/1025/200/200" />
                    <img src="https://picsum.photos/id/1062/200/200" />
                    <img src="https://picsum.photos/id/1025/200/200" />
                    <img src="https://picsum.photos/id/1025/200/200" />
                    <img src="https://picsum.photos/id/1025/200/200" />
                    <img src="https://picsum.photos/id/1025/200/200" />
                    <img src="https://picsum.photos/id/1025/200/200" />
                    <img src="https://picsum.photos/id/1025/200/200" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="./code.js/footer.js"></script>