<header class="header overlay">
    <div class="header__container">
        <svg class="header__icon">
            <use href="./img/sprite.svg#film"></use>
        </svg>
        <span class="header__logo">Filmoteka</span>
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="nav__item nav__item--current">Home</li>
                <li class="nav__item">my library</li>
            </ul>
        </nav> 
        <input class="header__input" type="text" placeholder="Поиск фильмов">
        <svg class="input__icon">
            <use href="./img/sprite.svg#search"></use>
        </svg>
    </div>
</header>