<div class="modal-movie-lightbox">
    <div class="modal-movie-overlay"></div>
    <button
      type="button"
      class="modal-movie-close-button"
      data-action="close-lightbox"
    ></button>
    <div class="modal-movie-button-wrapper">
      <button data-name="watched" class="modal-movie-button modal-left-button" type="button">add to
        watched</button>
      <button data-name="queue" class="modal-movie-button" type="button">add to queue</button>
    </div>


            <article class="modal-movie-wrapper ">
                <div class="js-modal-movie-overlay">
                    <div class="modal-movie-button-wrapper">
                        <button data-name="watched" class="modal-movie-button modal-left-button" type="button">add to
                            watched</button>
                        <button data-name="queue" class="modal-movie-button" type="button">add to queue</button>
                    </div>
                </div>
    
                <button type="button" class="modal-movie-close-button" data-action="close-lightbox"></button>
            </article>
  </div>