.visually-hidden {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  border: none;
  overflow: hidden;
}
.search-form {
  position: relative;
  margin: 0 auto;
  margin-bottom: 22px;
  width: 280px;

  @media screen and (min-width: $tablet) {
    width: 336px;
  }
}

.header__input {
  width: 100%;
  padding: 4px;

  outline: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-bottom: 0.5px solid #fff;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 400;
  color: #fff;

  &::placeholder {
    color: #fff;
    opacity: 1;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:focus::placeholder {
    opacity: 0;
  }
}

.search-btn {
  position: absolute;
  outline: none;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  transform: scale(1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
.notification {
  opacity: 0;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 400;
  text-align: left;
  color: #ff001b;

  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &.active {
    opacity: 1;
  }

  @media screen and (min-width: $tablet) {
    text-align: center;
  }
}
